<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <script src="{{ asset('js/react.js') }}"></script>
        <script src="{{ asset('js/react-dom.js') }}"></script>
        <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="loader"></div>
        <script type="text/babel" src="{{ asset('js/app.js') }}"></script>
    </body>
</html>
