body {
    padding: 15px 0;
}

th {
    cursor: pointer;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url('../711.gif') no-repeat center center, rgba(255,255,255,0.5);
    z-index: 9999;
}